@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito",
sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-shadow: none;

@import "~bulma/bulma.sass";
@import "~bulma-switch/src/sass/index";
@import '~bulma-slider';

#root {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.card-header-title {
  .tag.is-danger {
    margin-left: 1em;;
  }
}

._react-file-reader-input {
  width: 100%;
}

.is-disabled {
  color: $grey-dark;
  pointer-events: none;
}

.preview-block {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-content: center;
  justify-content: center;

  .no-file {
    display: flex;
    align-items: center;
  }
}

.no-selectable {
  user-select: none;
}

.sidebar {
  z-index: 111;
}

.react-transform-component{
  width: 100vw !important;
  height: 100vh !important;
  cursor: grab;
}

.preview-options {
  position: fixed;
  right: 3em;
  top: 3em;
  z-index: 999;
  .zoom-label {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.switch {
  label {
    &.left {
      padding-right: 0.5rem;
    }
    position: relative;
    display: initial;
    font-size: 1rem;
    line-height: initial;
    padding-top: .2rem;
    cursor: pointer;
  }
}

.field {
  .label {
    margin-right: .5rem;
    margin-top: .5rem;
  }
}

.options,
.file-info {
  border-top: 1px solid #ededed;
}

.options {
  overflow-y: scroll;
  max-height: 60vh;
}
